
.comp-grid-tile {

  position: relative;
  .separate-layer();
  .paper-like();
  flex: 1;

  margin: 10px;

  .coordinates-info {
    position: absolute;
    bottom: 2px;
    left: 2px;
    opacity: 0.15;
    font-weight: 300;
    font-size: 11px;

    transition: opacity 0.3s;
  }

  &:hover {
    .coordinates-info {
      opacity: 0.4;
    }
  }
}
