
.comp-grid {

  background-color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;

  .grid-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    flex-wrap: nowrap;
  }
}
