# Logs
logs
*.log

npm-debug.log

.git

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# compiled static assets
#static/
